:root {
  --basic-light-blue: #81B3D2;
  --basic-light-gray: #EEEEEE;
  --basic-gray: #F2F2F2;
  --basic-darc-gray: #A9A9A9;
  --basic-white: #FFFFFF;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-black: #000000;
  --basic-light-black: #333333; 
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans ", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
	text-decoration: none;
}

ul {
	margin: 0; 
	paddig-left: 0; 
	list-style-type: none;
}

fieldset {
	margin: 0;
	 paddig: 0; 
	 border: 0;
}

p, h1, h2, figure {
	margin: 0;
}

li {
	list-style:none;
} 

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;	
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*.nav-list {
    display: flex;
}*/

.logo {
	width: 138px;
	height: 70px;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  height: 56px;
}

.nav-list a {
  color: inherit;
  font-weight: bold;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
}

.site-navigation a:hover,
.user-navigation a:hover {
  background-color: var(--basic-blue);
}
  
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: var(--basic-dark-blue);
}


.header-link,
.map-img  {
  display: block;	
}

.header-logo img {
  display: block;
}

.advantages-img img {
  display: block;
}

.advantages-item {
  display: flex;
}

.promo {
  background-image: url("../img/background photo.jpg");
  width: 1200px;
  min-height: 509px;
}

.benefits {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 42px 365px;
}

.benefits-item {

}
.benefits-title {
	font-size: 21px;
	line-height: 26px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 16px;
	margin-right: 50px;
	margin-left: 50px;

}
.benefits-text {
  color: var(--basic-light-black);
  margin-right: 10px;
	margin-left: 10px;

}

.index-columns {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  background-position: center, 0 0;
  padding: 30px;
  text-align: center;
}

.index-columns h3 {
  font-size: 21px;
  line-height: 21px;
}

.features-list,
.features-list2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list p,
.features-list2 p {
  margin: 0 10px;
}
.features-list2 {
  padding: 30px;
  text-align: center;
}
.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--basic-blue);
}

.main-footer {
  display: flex;
  justify-content: space-between;
  color: (--basic-black);
  background: rgba(255, 255, 255, 0.9);
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;
}

/* Social button */

.social-button {
  display: block;
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue);
}


.footer-logo img {
  display: block;
}

form input:focus { 
  border-color: #0088cc;
  margin-b
}
